@import "tailwindcss";

@layer base {
  body {
    background-color: #0A0A0B;
    color: #F8FAFC;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  ::selection {
    background-color: #FF6B00;
    color: #000000;
  }
}
